.footer{
    background-color: rgb(3, 33, 73,.8);
    margin: 0px;
    position:relative;
    width:100%;
 }
 hr {
   margin-top: 0px;
   margin-bottom: 0px;
   border: 1px;
 }
 
 .footer .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    gap: 50px;
    align-items: flex-start;
 }
 
 .footer .grid .box h3{
    font-size: 18px;
    color: whitesmoke;
    margin-left: 20px;
    margin-bottom: 18px;
 }
 
 .footer .grid .box a{
    display: block;
    margin: 14px;
    font-size: 14px;
    color: whitesmoke;
 }
 
 .footer .grid .box a i{
    padding-right: 1rem;
    color:#2b7d9eb5;
    transition: .2s linear;
 }
 
 .footer .grid .box a:hover{
    color: #2b7d9eb5;
 }
 
 .footer .grid .box a:hover i{
    padding-right: 14px;
 }
 
 .footer .credit{
    text-align: center;
    padding: 14px 14px;
    border-top: black;
    font-size: 14px;
    color: whitesmoke;
 }
 
 .footer .credit span{
    color: #6f79e9;
 }

 a i {
   color: #ffffff; /* set the color to white */
 }
 a:hover i {
   color: #ff0000; /* set the color to red on hover */
 }
 a{
   text-decoration: none;
 }
 